
modLoader="javafml"
loaderVersion="${loader_version_range}"
license="${mod_license}"
[[mods]]
modId="${mod_id}"
version="${mod_version}"
displayName="${mod_name}"
authors="Maxwell, FINDERFEED (Original QA Mod Creator)"
credits="Base assets and 'Qliphoth Awakening' logic belong to FINDERFEED. This addon references original assets without redistribution."
description='''${mod_description}'''
[[dependencies.${mod_id}]]
    modId="forge"
    mandatory=true
    versionRange="${forge_version_range}"
    ordering="NONE"
    side="BOTH"
[[dependencies.${mod_id}]]
    modId="minecraft"
    mandatory=true
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"
[[dependencies.${mod_id}]]
modId="fdbosses"
mandatory=true
versionRange="[1.0,)"
ordering="AFTER"
side="BOTH"